.container {
  display: flex;
  flex-direction: row;
  width: 230px;
}
.line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
}
input[type='submit'] {
  width: 100%;
}
input[type='number'] {
  margin-left: 15px;
}
input[type='text'] {
  margin-left: 15px;
}
.form-header {
  display: flex;
  flex-direction: row;
  width: 260px;
  padding-left: 10px;
  justify-content: space-between;
}
.form {
  width: 260px;
}
.span {
  display: inline;
}
