.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 230px;
}
.form-header {
  display: flex;
  flex-direction: row;
  width: 260px;
  padding-left: 10px;
  justify-content: space-around;
}
.form {
  width: 250px;
}
